doctype html
html
    head 
        title=numberQuiz 
    body
        h1 The Number Quiz
        p Your current score is #{score}.
        p You have completed the Number quiz, with a score of #{score} out of 5.