body {
    background-image: url("background.png");
    background-repeat: repeat;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 8pt;
}
#banner {
    width: 100%;
}
#left>div>img{
    vertical-align: bottom;
}
#banner img {
    width:100%;
    background-image: url("background.png");
    background-repeat: repeat;
}
h1{
    text-align: center;
    font-weight: bold;
    font-size: 24pt;
    font-family: Tahoma, Verdana, sans-serif;
    text-shadow: 3px 3px #999999;

}
#main_content{
    margin: auto;
    border:solid 4px gray;
    width: 800px;
    border-radius: 20px;
    overflow: auto;
}
#right {
    float:right;
    width: 250px;
    background-color: #A2B964;
    font-size: 8pt;
    font-family: Arial, sans-serif;
}

#left >div{
    background-image: url("rbg.png");
    background-size: 20px 83px;
    background-repeat: repeat-x;
    font-size: 48pt;
    color: red;
    font-weight: bold;
}
#left > span {
    max-width: 65%;
    column-count: 2;
    column-gap: 2%;
    column-width: 47%;
    display: inline-block;
    padding: 2px 11px ;
}

.comment{
    font-weight: bold;
    background-color: #E8DC9B;
    border: gray 2px thick;
    border-radius: 10px;
    box-shadow: 2px;
}
 #bottom {
    bottom: -229px;
    left: -134px;
    position: relative;
    text-align: right;
    background-color: #A2B964;
    padding: 4px;
 }
 dl {
     background-color: #A2B964;
     padding: 11px;
 }
 q {
     padding: 8px;
 }
#validators {
    position: fixed;
    right: 0px;
    bottom: 31px;
    opacity: 0.5;
}

.italic {
    font-style:italic;
}
img{
    shape-outside: circle();
}
dt{
    padding: 10pt 0pt 0pt 0pt;
    font-weight: bold;
}

